go 1.25.3

use (
	./builder
	./cmd/server
	./internal/aiprompt
	./internal/badwords
	./internal/badwords_embeddings
	./internal/cache
	./internal/embeddings
	./internal/huggingface_jailbreak_model
	./internal/keep
	./internal/pii
	./internal/tracer
	./internal/user_repository
	./internal/user_repository_firestore
	./internal/pii_google
	./internal/utils
	./internal/wall
	./pkg/canary
	./pkg/request_log
	./test/integration_test_harness
)
